<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  {% block meta %}
  {% endblock %}
  <title>
      {% block title %}
      The Grey Planet
      {% endblock %}
  </title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Adamina&family=Montserrat:wght@300&family=Quicksand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display+SC">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
  {% load static %}
  <link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'blog/css/newsletter.css' %}">
  {% block css %}
  {% endblock %}
  {% include 'blog/favicon.html' %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173919558-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-173919558-1');
</script>


  <script>
  src="https://code.jquery.com/jquery-1.10.2.js"
  integrity="sha256-it5nQKHTz+34HijZJQkpNBIHsjpV8b6QzMJs9tmOBSo="
  crossorigin="anonymous"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="js/index.js" type="text/javascript"></script>

  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700|Playfair+Display:400,700,900" rel="stylesheet">

<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5f04ab92ee78680012322ef4&product=inline-share-buttons&cms=sop' async='async'></script>
</head>
<body>

{% block alert %}
{% endblock %}

{% if email == "exists" %}
<div id="newsletter-alert" class="alert alert-info alert-dismissible fade show" role="alert" style="margin-bottom: 0px;text-align: center;">
  <bold>It seems that you are already subscribed to our newsletter. </bold>Look out for some awesome content in your email.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% elif email %}
<div id="newsletter-alert" class="alert alert-success alert-dismissible fade show" role="alert" style="margin-bottom: 0px;text-align: center;">
  <bold>Welcome {{ email.name }} to The Grey Planet!</bold> Look out for some awesome content in your email.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
  <header class="header">


    <!-- navbar -->
    <nav id="navbar" class="navbar navbar-fixed-top navbar-expand-lg navbar-dark scrolling-navbar">

      <!-- links -->
      <div class="navbar-collapse collapse w-100 order-1 navbar-dark order-lg-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item ">
            <a class="nav-link" href="{% url 'index' %}"><b>Home</b></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#newsletter-modal" href="#"><b>Newsletter</b></a>
          </li>


          <!-- <li class="nav-item sign-up">
              <button type="button" class="btn btn-outline-light">Sign-up</button>
            </li> -->

        </ul>
      </div>

      <!-- title -->
      <div class="hamburger">

        <input class="navbar-toggle menu-btn" type="checkbox" id="menu-btn" data-toggle="collapse" data-target=".dual-collapse2">
        <label class="menu-icon" for="menu-btn"><span class="navbar-toggler-icon navicon"></span></label>





      </div>
      {% load static %}
      <a class="navbar-brand mx-auto navbar-brand-center" href="{% url 'index' %}">
          <h1 class="title"> <img src="{% static 'blog/logo/logo-navbar.png' %}" class="nav-logo"alt=""> The Grey Planet</h1>
        </a>&nbsp;

      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">


        <ul class="navbar-nav ml-auto">






          <li class="nav-item search-b">
            <form id="nav-search-ani" class="search-ani" action={% url 'search' %}>
              <input id="nav-search" class="search" type="search" name="search" required="">
            <button type="submit" id="nav-search-button" style="background: none;padding: 0px;border: none;">
              <i id="nav-fa-search" class="fa fa-search"></i>
            </button>
            </form>
          </li>


        </ul>

      </div>


      <!-- mega drop down -->
      <div class="drop">

        <!-- first is the link in your navbar -->
        <a class="menu men-title dropdown-toggle scrollable-men" href="#" id="servicesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="flase"><b>Menu</b></a>

        <!-- your mega menu starts here! -->
        <div class="dropdown-menu dropdown-menu-right scrollable-menu list-drop menu-contents" aria-labelledby="servicesDropdown">

          <!-- the standard dropdown items -->
          <a class="dropdown-item" href="{% url 'about' %}">
            <h3>About Us</h3>
          </a>


          <!-- next, a divider to tidy things up -->
          <div class="dropdown-divider"></div>

          <!-- finally, using flex to create your layout -->
          <div class="menu-contents d-md-flex align-items-start justify-content-start">

            <div>
              <div class="dropdown-header"></div>
              {% for section in sections %}
                {% if not section.service %}
              <a class="dropdown-item" href="{% url 'section' section %}">
                <h4>{{ section }}</h4>
              </a>
                {% endif %}
              {% endfor %}
            </div>

            <div>
              <div class="dropdown-header"></div>
              {% for section in sections %}
                {% if section.service %}
              <a class="dropdown-item" href="{% url 'section' section %}">{{ section }}</a>
              {% endif %}
              {% endfor %}
            </div>


          </div>
        </div>


      </div>


    </nav>

  </header>
  <!-- /navbar -->

  <!-- Modal-Newsletter-Start -->
{% load static %}
  <div class="modal fade" role="dialog" tabindex="-1" id="newsletter-modal">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body" style="background-image: url({% static 'blog/images/night.jpeg' %});background-size: cover;">
                  <!-- Newsletter-Start -->
                  <div class="newsletter-modal">
                    {% include 'blog/newsletter.html' %}
                  </div>
                  <!-- Newsletter-End -->
                </div>
            </div>
        </div>
    </div>

  <!-- Modal-Newsletter End -->



  {% block content %}

  {% endblock %}




  <!-- Footer ---------------------------------------------------------------------------->
  <footer class="footer page-footer font-small  pt-4">

    <!-- Footer Links -->
    <div class="container foot-cont text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mx-auto">

          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">The Grey Planet</h5>
          {% load content %}
          <p>{% content 'footer' %}</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <ul class="list-unstyled" style="padding-top: 20px;">
            <li>
              <a href="{% url 'about' %}">About Us</a>
            </li>
            <li>
              <a data-toggle="modal" data-target="#newsletter-modal" href="#">Newsletter</a>
            </li>
            <!--
            <li>
              <a href="#">Donate</a>
            </li>
            -->
            <li>
              <a href="{% url 'contact' %}">Contact Us</a>
            </li>

          </ul>

        </div>


      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->


        <ul class="list-unstyled" style="color: black">



          <li class="nav-item search-b">
            <form id="foot-search-ani" class="search-ani" action={% url 'search' %}>
              <input id="foot-search" class="search" name="search" type="search" required="">
            <button  style="background: none;padding: 0px;border: none;">
              <i id="foot-fa-search" class="fa fa-search"></i>
            </button>
            </form>
          </li>

          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <!-- Footer Links -->

    <hr>

    <!-- Social buttons -->
    <div class="foot-link list-inline text-center">

      <a target="_blank" class="btn-floating btn-fb mx-1" href="https://www.facebook.com/The-Grey-Planet-103930388072375">
        <i class="fab fa-facebook-f"> </i>
      </a>

      <a target="_blank" class="btn-floating btn-tw mx-1" href="https://twitter.com/thegreyplanet1">
        <i class="fab fa-twitter"> </i>
      </a>


      <a target="_blank" class="btn-floating btn-li mx-1" href="https://www.linkedin.com/company/thegreyplanet/">
        <i class="fab fa-linkedin-in"> </i>
      </a>

      <a target="_blank" class="btn-floating" href="https://www.instagram.com/the.grey.planet/">
        <i class="fab fa-instagram"></i>
      </a>
      <a target="_self" class="btn-floating" href="mailto:thegreyplanet.web@gmail.com">
        <i class="fas fa-envelope"></i>
      </a>
    </div>

    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright: The Grey Planet
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  <script src="{% static 'blog/js/base.js' %}" charset="utf-8"></script>
  <!-- for navbar scroll -->
  <script>

  </script>

</body>

</html>
