{% extends 'blog/base.html' %}
{% block title %}The Grey Planet{% endblock %}

{% block content %}
    <!-- blog-page----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->





{% load static %}
    <!-- carausel ----------------------------------------------------------------------------------------------------->
    <div class="blog">

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          {% for blog in featured_blog_rest %}
          <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter }}"></li>
          {% endfor %}
        </ol>
        <div class="carousel-inner" role="listbox">

          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url({{ featured_blog_first.post_img.url }})">

            <div class="carousel-caption">
              <a class="carousel-link" href="{% url 'preview_posts' featured_blog_first.post_slug %}">
              <h3 class="display-4">{{ featured_blog_first.post_title }}</h3>
              </a>
              <p class="lead">
                {{ featured_blog_first.post_desc }}
              </p>

            </div>

          </div>
          {% for blog in featured_blog_rest %}
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url({{ blog.post_img.url }})">
            <div class="carousel-caption">
              <a class="carousel-link" href="{% url 'preview_posts' blog.post_slug %}">
              <h3 class="display-4">{{ blog.post_title }}</h3>
              </a>
              <p class="lead">{{ blog.post_desc }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="Previous" aria-hidden="true"> <img src="{% static 'blog/images/back.png' %}" class="previous-next" alt=""></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="forward" aria-hidden="true"> <img src="{% static 'blog/images/next.png' %}" class="previous-next" alt=""></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <!-- 1st-section --------------------------------------------------------------------------------------------------------------------------------------------------------------->

    <div class="upper-container site-section container" style="  max-width: 1350px;">

      <!-- Page Heading -->
      <h1 class="my-4">Recent Posts</h1>

      <!-- Page Content -->
      <div class="container container-fluid" >

        <div class="row justify-content-center">
          {% for blog in blogs %}
          <div class="col-lg-4 col-sm-6 col-auto d-xl-flex align-items-xl-center mb-4">
            <div class="card h-100">
              <a class="stretched-link"href="{% url 'preview_posts' blog.post_slug %}">
              <img class="card-img-top" src={{ blog.post_img.url }} alt="nothing">
              </a>
              <div class="card-body">
                {% for section in blog.get_sections %}
                <span class="badge" style="background-color:{{ section.color }};color:#ffffff;">{{ section|upper }}</span>
                {% endfor %}
                <h4 class="card-title ">
                  <a class="card-head" href="{% url 'preview_posts' blog.post_slug %}">
                    {{ blog.post_title }}
                  </a>
                </h4>
                <div class="host">
                  <img class="host-image" src={{ blog.author.photo.url }} height="50px" width="50px" border-radius="100%" alt="">
                  <span class="host-title"> By {{ blog.author }}</span>
                  <div>
                  <span class="date">&nbsp;&nbsp;- {{ blog.post_date }} </span>
                  </div>
                </div>

                <p class="card-text">{{ blog.post_desc }}</p>

              </div>
            </div>
          </div>
          {% endfor %}

        </div>
        <!-- /.row -->
      </div>

      </div>
      <!-- /.container -->



      <!-- Newsletter-Start -->
      <div class="newsletter-inpage">
      {% include 'blog/newsletter.html' %}
      </div>
      <!-- Newsletter-End -->



      <!-- next content *4 ----------------------------------------------------------------------------------------------------------------->

      <!-- Page Content -->
      <div class="container-fluid down-container">
        <!-- Page Content -->
        <div class="container">

          <!-- Page Heading -->
          <h1 class="my-4">Top Articles
          </h1>

          <div class="row justify-content-center">
            {% for blog in blogs %}
            <div class="col-lg-6 mb-4 col-auto d-xl-flex align-items-xl-center">
              <div class="card h-100">
                <a class="stretched-link" href="{% url 'preview_posts' blog.post_slug %}">
                  <img class="card-img-top" src={{ blog.post_img.url }} alt="">
                </a>
                <div class="card-body">
                  {% for section in blog.get_sections %}
                  <span class="badge " style="background-color:{{ section.color }};color:#ffffff;">{{ section|upper }}</span>
                  {% endfor %}
                  <h4 class="card-title ">
                    <a class="card-head" href="{% url 'preview_posts' blog.post_slug %}">
                      {{ blog.post_title }}
                    </a>
                  </h4>
                  <div class="host">
                    <img class="host-image" src={{ blog.author.photo.url }} height="50px" width="50px" border-radius="100%" alt="">
                    <span class="host-title">By {{ blog.author }}</span>
                    <span class="date"> {{blog.post_date}} </span>
                  </div>

                  <p class="card-text">{{ blog.post_desc }}</p>

                </div>
              </div>
            </div>
            {% endfor %}
          </div>




        </div>
      </div>
    <!-- /.container -->

{% endblock %}